[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypidouban"

[packages]
kafka = "*"
mysqlclient = "*"
djangorestframework = "*"
django-filter = "*"
pymysql = "*"
celery = "*"
redis = "*"
eventlet = "*"
ansible = "*"
paramiko = "*"
django = "4.1.3"

[dev-packages]

[requires]
python_version = "3.10"
